<!doctype html>
<html class="no-js" lang="en">
	<head>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Derm Research</title>
    	<link rel="stylesheet" href="<% uri_base %>/css/foundation.css" />
    	<script src="<% uri_base %>/js/vendor/modernizr.js"></script>
    </head>
    <body>
  	<div class="row">
		<div class="large-12 columns">
  			<div class="row">
    			<div class="large-12 columns">

      <nav class="top-bar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="index.html">
                Derm Research
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
     
        <section class="top-bar-section">
           
          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Partners</a>
              <ul class="dropdown">
                <li><label>Our Experience</label></li>
                <li><a href="/experience/companies">Companies With Whom We Work</a></li>
                <li><a href="/experience/products">Therapeutic Areas and Products</a></li>
                <li><a href="/experience/studies">List of Previous Studies</a></li>
                <li class="divider"></li>
                <li><label>Capabilities</label></li>
                <li><a href="capabilities/facilities">Our Facilities</a></li>
                <li><a href="capabilities/demographics">Patient Demographics</a></li>
                <li><a href="capabilities/staff">Our Staff</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Patients</a>
              <ul class="dropdown">
                <li class="has-dropdown">
                  <a href="patients/participate" class="">Participate in a Study</a>
                  <ul class="dropdown">
                    <li><a href="patients/studies/atopic-dermatitis">Atopic Dermatitis</a></li>
                    <li><a href="patients/studies/moderate-to-severe-acne">Moderate to Severe Acne</a></li>
                    <li><a href="patients/studies/severe-papulopustular-rosacea">Rosacea</a></li>
                    <li><a href="patients/studies/actinic-keratosis">Actinic Keratosis</a></li>
                    li><a href="patients/studies/plaque-psoriasis">Plaque Psoriasis</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/contact">Contact</a></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
	<% content %>
	<div class="row">
		<div class="large-12 columns">
		    <hr>
		    <h4>Contact Me</h4>
		</div>
		<div class="large-4 columns">
		    Email:
		</div>
		<div class="large-4 columns">
		    Twitter: @twitterhandle
		</div>
		 <div class="large-4 columns">
		    Phone: 555-555-1234
		</div>
	</div>
	<footer class="row">
	    <div class="large-12 columns">
	    	<hr/>
	        <div class="row">
	          <div class="large-6 columns">
	            <ul class="inline-list right">
	              <li><a href="#">Link 1</a></li>
	              <li><a href="#">Link 2</a></li>
	              <li><a href="#">Link 3</a></li>
	              <li><a href="#">Link 4</a></li>
	            </ul>
	          </div>
	        </div>
	    </div>
	</footer>
    <script src="<% uri_base %>/js/vendor/jquery.js"></script>
    <script src="<% uri_base %>/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
